.navbar .navbar-brand{
    /* Falsy News */

    position: absolute;
    width: 283px;
    height: 72px;
    left: 100px;
    top: 10px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
}
nav div a{
    /* About Us */
    position: absolute;
    width: 143px;
    height: 48px;
    left: 90%;
    right: 10%;
    top: 15px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 48px;
    justify-content: right;
    text-decoration: none;
    /* identical to box height */


    color: #ffffff;
}
/* div .img{ */
    /* isolated-portrait-stylish-young-mixed-race-woman-with-dark-shaggy-hair-touching-her-chin-removebg 1 */
    /* position: absolute;
    width: 1489px;
    height: 993px;
    left: 273px;
    top: 46px;
} */